@* Existing login/register logic retained. Add a universal "Mi vista" link to /MiVista *@
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
        <a class="nav-link text-dark" title="Usuario">Hola @User.Identity?.Name!</a>
    </li>
    <li class="nav-item">
        <form class="form-inline" asp-controller="Account" asp-action="Logout" method="post">
            <button type="submit" class="nav-link btn btn-link text-dark">Cerrar sesión</button>
        </form>
    </li>
        <li class="nav-item">
            <a class="nav-link" href="/MiVista" title="Ir a mi vista">Mi vista</a>
            @* If your header prefers button styling, swap class to: btn btn-primary *@
            @* <a class="btn btn-primary" href="/MiVista" title="Ir a mi vista">Mi vista</a> *@
        </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link text-dark" href="/Identity/Account/Register">Registrarse</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" href="/Identity/Account/Login">Iniciar sesión</a>
    </li>
        <li class="nav-item">
            <a class="nav-link" href="/MiVista" title="Ir a mi vista">Mi vista</a>
        </li>
}
</ul>
