body {
    font-family: 'Segoe UI', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #f8f0f5;
    border-bottom: 1px solid #ccc;
}
    
.logo {
    display: flex;
    align-items: center;
}

    .logo img {
        height: 50px;
        margin-right: 10px;
    }

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav a {
    text-decoration: none;
    color: #a52a5d;
    font-weight: bold;
}

.promocion {
    display: flex;
    justify-content: space-between;
    padding: 40px;
    background-color: #fff0f5;
}

.texto-promocion {
    max-width: 40%;
    background-color: #d1003f;
    color: white;
    padding: 30px;
    border-radius: 10px;
}

    .texto-promocion h2 {
        font-size: 24px;
        margin-bottom: 10px;
    }

    .texto-promocion p {
        font-size: 16px;
        margin-bottom: 20px;
    }

.btn-ver {
    display: inline-block;
    background-color: white;
    color: #d1003f;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

.imagen-promocion img {
    max-width: 500px;
    border-radius: 10px;
}

footer {
    padding: 20px;
    background-color: #f8f0f5;
    text-align: left;
}

.redes-sociales a img {
    height: 30px;
    margin-right: 10px;
}
